body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
    
}
.half-width1{
    width: 50%;
    padding: 5%;
}
.half-width1 img{
    width: 40%;
}
.flexible-container{
    display: flex;

}
.link-button{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 10px 30px;
font-weight: 700;
border-radius: 30px ;
}
.contact-me{
 background-image: url(images/shapes/7.png);
 background-repeat: no-repeat;
}
.Center-Aline{
    text-align: center;
}
.Eating-item{
        width: 80%;
        height: 50%;
        margin: 3% 3%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 10px 10px 40px gray;
    }
.rd-width{
width:30%;
margin: 7% 7%;
}
.sub{
      width: 100%;
        height: 20%;
        margin: 3% 3%;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px gray;
}
.Color{
   width: 100%;
   height: 150px;
    background-color: black;
}
.o-color{
    color: gray;
}
